{{- if .empty -}}
namespace {{ .name }}.Model;

public record In();
{{- else -}}
using {{ .models }};

namespace {{ .name }}.Model;

public record In(
    string OrderId,
    string CustomerId,
    DateTimeOffset OrderDate,
    IReadOnlyList<OrderLine> Lines);
{{- end }}
