{{- if .empty -}}
namespace {{ .name }}.Model;

public record Source{{ .contract }}();
{{- else -}}
using {{ .contracts }};

namespace {{ .name }}.Model;

public record Source{{ .contract }}(
    string OrderId,
    string CustomerId,
    DateTimeOffset OrderDate,
    IReadOnlyList<OrderLine> Lines);
{{- end }}
