apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: {{ .system }}-secretstore
spec:
  type: secretstores.hashicorp.vault
  version: v1
  metadata:
    - name: vaultAddr
      value: REPLACE-ME-VAULT-ADDR
    - name: skipVerify
      value: "false"
    - name: vaultKVPrefix
      value: REPLACE-ME-VAULT-KV-PREFIX
