{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning"
    }
  },

  "PlatformServices": {
    "IdempotencyServiceAppId": "{{ .idempotencyAppId }}",
    "BusinessIncidentServiceAppId": "{{ .businessIncidentsAppId }}"
  }
}
