using {{ .name }}.Configuration;
using {{ .name }}.Model;
{{- if not .empty }}
using Intropy.Contracts.BusinessIncidentService;
using Intropy.Contracts.IdempotencyService;
{{- end }}
using Intropy.Framework.Adapters.File;
using Intropy.Framework.Blocks.Shared;
using Intropy.Framework.Blocks.TransactionalIntegration;
using Microsoft.Extensions.DependencyInjection;

namespace {{ .name }}.Send;

public static class ServiceCollectionExtensions
{
    public static IServiceCollection AddSendPipeline(this IServiceCollection services)
    {
        services.AddSendPipeline<In, Out, Context>("{{ .name }}.Send", (builder, provider) =>
        {
            var destinationAdapter = provider.GetRequiredKeyedService<IFileAdapter>(Constants.DestinationPort);
{{- if not .empty }}
            var idempotencyClient = provider.GetRequiredService<IIdempotencyServiceClient>();
            var incidentClient = provider.GetRequiredService<IBusinessIncidentServiceClient>();

            return builder
                .WithDeserializer(new Deserializer())
                .WithIdempotency(
                    idempotencyClient,
                    idExtractor: (order, _) => order.OrderId,
                    dateExtractor: (order, _) => order.OrderDate)
                .WithExtractor(new Extractor())
                .WithValidator(new Validator())
                .WithTransformer(new Transformer())
                .WithSerializer(new Serializer())
                .WithSender(new Sender(destinationAdapter))
                .WithBusinessIncidents(
                    incidentClient,
                    messageIdExtractor: ctx => ctx.Metadata.GetValueOrDefault(Constants.ContextKeyOrderId, "unknown"),
                    subjectExtractor: ctx => ctx.Metadata.GetValueOrDefault(Constants.ContextKeyOrderId, "unknown"));
{{- else }}

            return builder
                .WithDeserializer(new Deserializer())
                .WithExtractor(new Extractor())
                .WithValidator(new Validator())
                .WithTransformer(new Transformer())
                .WithSerializer(new Serializer())
                .WithSender(new Sender(destinationAdapter));
{{- end }}
        });
        return services;
    }
}
