{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning"
    }
  },

  "PlatformServices": {
    "IdempotencyServiceAppId": "{{ .idempotencyAppId }}",
    "BusinessIncidentServiceAppId": "{{ .businessIncidentsAppId }}"
  },

  "Ingest": {
    "IncomingPrefix": "incoming",
    "OutputPrefix": "output",
    "ProcessedPrefix": "processed"
  }
}
