{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning"
    }
  }{{- if not .empty }},

  "PlatformServices": {
    "IdempotencyServiceAppId": "{{ .idempotencyAppId }}",
    "BusinessIncidentServiceAppId": "{{ .businessIncidentsAppId }}"
  }
{{- end }}
}
