using {{ .name }}.Configuration;
using Intropy.Framework.Hosting.TransactionalIntegration.Job;
using Intropy.Telemetry.ConsoleApp;
using Microsoft.Extensions.DependencyInjection;

var serviceProvider = Composition.ConfigureServices(new ServiceCollection()).BuildServiceProvider();
using var telemetryScope = new OpenTelemetryScope(serviceProvider);
var runner = serviceProvider.GetRequiredService<TransactionalIntegrationRunner>();
return await runner.RunAsync();
