namespace {{ .name }}.Model;

{{- if .empty }}

public record Out();
{{- else }}

public record Out(
    string OrderId,
    string CustomerId,
    DateTimeOffset LoadedAt,
    string Status);
{{- end }}
